*{
    margin: 0;
    box-sizing: border-box;
}

.city-block{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    border: 1px black solid;
}

.city-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
}

#paris{
    background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=3273&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#barcelona{
    background-image: url(https://images.unsplash.com/photo-1583422409516-2895a77efded?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bruxelles{
    background-image: url(https://images.unsplash.com/photo-1508608725026-673848eb006c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}